<div class="header">
    <div class="header_section">
        <div class="headerlogo">
            <a href = "/">Финяшка</a>
        </div>
        <div class="header_item headerButton <% if(active=="crypto") {%>ElActive<% }%> ">
            <a href = "/crypto">Крипта</a>
        </div>
        <div class="header_item headerButton <% if(active=="nft") {%>ElActive<% }%>">
            <a href = "/nft">НФТ</a>
        </div>
        <div class="header_item headerButton <% if(active=="securities") {%>ElActive<% }%>">
            <a href = "/securities">Ценные бумаги</a>
        </div>

    </div>
    
    <div class="header_section">
        <div class="header_item headerButton <% if(active=="predloshka") {%>ElActive<% }%>">
            <a href = "/predloshka">Предложка</a>
        </div>
        <div class="header_item headerButton <% if(active=="profile") {%>ElActive<% }%>">
            <a href = "/profile">Профиль</a>
        </div>
        <div class="header_item headerButton <% if(active=="login") {%>ElActive<% }%>">
            <a href = "/login">Войти</a>
        </div>
    </div>
</div>