<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %> 
    <script defer src = "/js/openArticle.js"></script>
</head>
<body>
    
    <%- include('./partials/header.ejs'); %> 

    <div class = "News">
        <%-inNews%>
    </div>
</body>
</html>