<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <script defer src = "\js\getProfile.js"></script> 
</head>
<body>
    <%- include('./partials/header.ejs'); %> 

    <div class="profile">
        <div class="profile_section photo">
            <img  height = 150 src="images/default_avatar.png">
            
        </div>
        <div class="profile_section">
            <ul>

            </ul>
        </div>
    </div>
    
</body>
</html>